<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>vue</title>
    <link rel="stylesheet" href="css/main.css" />
    <script
      type="text/javascript"
      src="http://localhost:3000/socket.io/socket.io.js"
    ></script>
    <script type="text/javascript"></script>
  </head>
  <body>
    <div id="all">
      <div v-if="showall">
        <div class="dialoglist">
          <div
            id="dialogBlock"
            @click="socket.emit('todialog', this.Store.activedialog)"
          ></div>
        </div>

        <div class="dialog">
          <div id="app"></div>
          <ul id="messages"></ul>
        </div>
      </div>

      <div>
        <div id="loginform"></div>
      </div>
    </div>
    <div class="answer" id="addform">
      <input
        type="text"
        v-model="message"
        id="input"
        required
        autofocus
        autocomplete="off"
      />
      <button @click="addMess(message)"></button>
    </div>
    <script src="/dist/build.js"></script>
    <script src="app.js"></script>
  </body>
</html>
