<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>vue</title>
    <link rel="stylesheet" href="css/main.css" />
    <script
      type="text/javascript"
      src="http://localhost:3000/socket.io/socket.io.js"
    ></script>
    <script type="text/javascript">
      var socket = io.connect(':3000')
      socket.on('Server 2 Client Message', function(messageFromServer) {
        console.log('server said: ' + messageFromServer)
      })
    </script>
  </head>
  <body>
    <div id="all">
    <div v-if="showall">
      <div class="dialoglist">
        <div id="dialogBlock"></div>
      </div>

      <div class="dialog">
        <div id="app"></div>
        <ul id="messages"></ul>
      </div>

      <div class="answer" id="add">
        <!-- <form id="form">
             <input v-model="message" type="text" id="input" required autofocus autocomplete="off">
             <button ></button>
             
         </form>-->
        <input
          type="text"
          v-model="message"
          id="input"
          required
          autofocus
          autocomplete="off"
        />
        <button @click="addMess()"></button>
      </div>
    </div>

    <div>
      <div id="loginform"></div>
    </div>

    <script src="/dist/build.js"></script>
    <script src="app.js"></script>
  </body>
</html>
